{
  "semi": false,
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.d.ts",
      "options": {
        "semi": true,
        "tabWidth": 4
      }
    }
  ]
}
